
Welcome to Wiki::Score, a platform similar to the Wikipedia for cooperative editing of large scale music scores (eg. operas, symphonies, cantatas etc). Wiki::Score is a wiki which, using the ABC notation for music representation, is primarily intended for publishing modern editions of unknown works buried in music archives. It has emerged from experience in the lab sessions of the Computing for Musicology course of the Music degree of the University of Minho.

Welcome to Wiki::Score, a platform similar to the Wikipedia for cooperative editing of large scale music scores (eg. operas, symphonies, cantatas etc). Wiki::Score is a wiki which, using the ABC notation for music representation, is primarily intended for publishing modern editions of unknown works buried in music archives. It has emerged from experience in the lab sessions of the Computing for Musicology course of the Music degree of the University of Minho.

