body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

a:link { color: #fb8c00; }
a:visited { color: #fb8c00; }

.fab { bottom: 45px; right: 228px; }

.bullet { margin-left: 5px; margin-right: 5px; }

.input-field input[type=text]:focus + label { color: #fb8c00; }
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field input[type=password]:focus + label { color: #fb8c00; }
.input-field input[type=password]:focus {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field input[type=password].valid {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field input[type=password].invalid {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00;
}
.input-field .prefix.active { color: #fb8c00; }

.q2content ul { padding: 0px 40px; }
.q2content ul li { list-style-type: disc; }
.q2content code { font-size: 1.0rem; }

